.timeline {
	position: relative;
}

.timeline-span {
	position: absolute;
	left: calc(var(--event-start) * var(--millisecond-size));
	width: calc((var(--event-end) - var(--event-start)) * var(--millisecond-size));
	height: 2rem;
	background-color: red;
}

.timeline-shift {
	position: absolute;
	left: calc(-1 * var(--timeline-start) * var(--millisecond-size));
}
